.animation {
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    width: 650px;
    height: 290px;
    // border: 2px solid black;
    background-image: url("../../assets/images/meteor-shower.jpg");
    background-position: center;
    background-size: cover;
  }

  &__animations {
    // border: 2px solid lime;
    height: 100%;
    overflow: hidden;
  }

  &__rocket {
    position: relative;
    left: 420px;
    top: 120px;
    height: 150px;
    width: 150px;
  }

  &__astro {
    position: relative;
    // top: 20px;
    left: 100px;
    height: 120px;
    width: 120px;
  }

  &__floating {
    position: relative;
    // top: -150px;
    left: 100px;
    height: 120px;
    width: 120px;
  }
}
