.game {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;

  &__container {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__textarea {
    font-family: inconsolata;
    background-color: white;
    color: lightgray;
    width: 95%;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  &__button {
    width: 300px;
    border-radius: 25px;
    border: 0;
    font-family: inherit;
    background-color: orange;
  }

  &__disabled {
    @extend .game__button;
    pointer-events: none;
  }
}
