.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  // border: 2px solid blue;
  // width: 650px;

  &__container {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid blue;
  }

  &__select {
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
  }

  &__text {
    position: absolute;
    top: 78px;
    color: orange;
    font-size: 10px;
  }

  &__modes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  }

  &__link {
    padding: 0 10px;
    border-radius: 25px;
    border: 1.5px solid orange;
    color: orange;
  }
}
