.resources {
  &__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: gugi;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
  }

  &__animation {
    height: 50px;
    width: 50px;
  }
}
