.metrics {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background-color: black;

  &__form {
    display: flex;
    justify-content: space-between;
    color: orange;
    width: 500px;
  }

  &__options {
    font-family: inherit;
    width: 100px;
    color: orange;
    background-color: black;
  }
}
